langgraph 
langsmith 
langchain

# Postgres + pgvector support
psycopg[binary]
pgvector
langchain_openai
langchain-google-genai
langchain_community
fastapi
python-docx
pandas
comtypes
pdflatex
uvicorn
python-multipart
langchain